<p-fieldset legend="Saat">

	<div *ngIf="saat$ | async as saat else nodata">

		<div class="p-fieldset-legend fieldset-right">
			<button *appHasRole="AuthRole.SAAT_DELETE"
					pButton
					#deleteBtn
					label="Delete"
					icon="fas fa-trash"
					(click)="onDelete(saat.id, deleteBtn)"
					class="p-button-text p-button-danger p-button-sm"></button>
			<button *appHasRole="AuthRole.SAAT_EDIT"
					pButton
					label="Edit"
					icon="fas fa-edit"
					[routerLink]="['/saatler', saat.id, 'edit']"
					class="p-button-text p-button-sm ml-2"></button>
			<button pButton
					label="Refresh"
					icon="fas fa-sync-alt"
					(click)="onRefresh(saat.id)"
					class="p-button-text p-button-sm ml-2"></button>
		</div>
		<app-saat-one [saat]="saat$ | async"></app-saat-one>

	</div>
	<ng-template #nodata>

		<div class="p-fieldset-legend fieldset-right">
			<button pButton
					label="Go back"
					icon="fas fa-undo-alt"
					[routerLink]="['/saatler']"
					class="p-button-text p-button-sm"></button>
		</div>
		<div class="flex justify-content-between align-items-center">
			No content to display
		</div>

	</ng-template>

</p-fieldset>
