<div *ngIf="saat"
		class="p-fluid formgrid">

	<div class="field w-full md-6">

		<label>name</label>
		<div class="p-2">{{ saat.name }}</div>

	</div>
	<div class="field w-full md-6">

		<label>sure</label>
		<div class="p-2">{{ saat.sure }}</div>

	</div>
	<div class="field w-full md-6">

		<label>baslangic</label>
		<div class="p-2">{{ saat.baslangic }}</div>

	</div>
	<div class="field w-full md-6">

		<label>bitis</label>
		<div class="p-2">{{ saat.bitis }}</div>

	</div>
	<div class="field w-full md-6">

		<label>aciklama</label>
		<div class="p-2">{{ saat.aciklama }}</div>

	</div>
</div>