<div *ngIf="musteri"
		class="p-fluid formgrid">

	<div class="field w-full md-6">

		<label>name</label>
		<div class="p-2">{{ musteri.name }}</div>

	</div>
	<div class="field w-full md-6">

		<label>title</label>
		<div class="p-2">{{ musteri.title }}</div>

	</div>
	<div class="field w-full md-6">

		<label>birthdate</label>
		<div class="p-2">{{ musteri.birthdate }}</div>

	</div>
	<div class="field w-full md-6">

		<label>mobile</label>
		<div class="p-2">{{ musteri.mobile }}</div>

	</div>
	<div class="field w-full md-6">

		<label>phone</label>
		<div class="p-2">{{ musteri.phone }}</div>

	</div>
</div>