<p-fieldset legend="Edit">

	<div *ngIf="masraf$ | async as masraf else nodata">

		<div class="p-fieldset-legend fieldset-right">
			<button pButton
					label="Cancel"
					icon="fas fa-times"
					[routerLink]="['/masraflar', masraf.id]"
					class="p-button-text p-button-sm"></button>
		</div>
		<app-masraf-form [masraf]="masraf"
					   (save)="onSave($event)"></app-masraf-form>

	</div>
	<ng-template #nodata>

		<div class="p-fieldset-legend fieldset-right">
			<button pButton
					label="Go back"
					icon="fas fa-undo-alt"
					[routerLink]="['/masraflar']"
					class="p-button-text p-button-sm"></button>
		</div>
		<div class="flex justify-content-between align-items-center">
			No content to display
		</div>

	</ng-template>

</p-fieldset>
